.mdi {
    &::before {
        font-family: $font_family_icon;
        font-size: 1.6rem;
        font-style: normal;
        display: inline-block;
        vertical-align: middle;
    }

    &-account {
        &::before {
            content: '\e60e';
        }
    }

    &-cart {
        &::before {
            content: '\e604';
        }
    }

    &-star {
        &::before {
            content: '\e761';
        }
    }

    &-minus {
        &::before {
            content: '\e673';
        }
    }

    &-plus {
        &::before {
            content: '\e853';
        }
    }

    &-delete {
        &::before {
            content: '\e645';
        }
    }
}