.v-product-item {
    .name,
    .brand {
        font-size: .875rem;
        line-height: 1.3;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .brand {
        font-weight: 300;
        opacity: .5;
    }

    .price {
        flex-grow: 1;
    }

    .in-content {
        display: flex;
        flex-wrap: wrap;
    }

    .in-options {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .in-color {
        display: inline-block;
        width: var(--product-card-color-size);
        height: var(--product-card-color-size);
        border-radius: 50%;
        overflow: hidden;
        margin-left: calc(var(--product-card-color-size) / 3);
        border: 1px solid var(--product-card-color-border-color);
    }
}