:root {
    --primary-divider-color: #f0f0f0;
    --secondary-error-color: #fff;
    --primary-error-color: #dc6d6d;
    --secondary-success-color: #fff;
    --primary-success-color: #7fcd91;
    --secondary-info-color: #79632e;
    --primary-red-color: #ff0101;
    --primary-info-color: #ffd166;
    --primary-base-color: var(--imported_primary_base_color,#f26323);
    --primary-dark-color: var(--imported_primary_dark_color,#d1490c);
    --primary-light-color: var(--imported_primary_light_color,#f69e77);
    --secondary-base-color: var(--imported_secondary_base_color,#eee);
    --secondary-dark-color: var(--imported_secondary_dark_color,#929292);
    --secondary-light-color: var(--imported_secondary_light_color,#f8f8f8);
    --header-height: 60px;
    --content-wrapper-width: 1400px;
    --overlay-background: #fff;
    --footer-font-size: 12px;
    --footer-height: 150px;

    // Image
    --image-default-background: var(--secondary-base-color);
    --image-content-color: #0a0a0a;

    // Vedio
    --video-play-background: #000;
    --video-play-icon-fill: #fff;
    --video-play-icon-transform: scale(1);

    // Input
    --input-border-color: #e0e0e0;
    --input-background-color: #fff;
    --input-padding: 13px 20px;

    // Option
    --option-position: relative;
    --option-background-color: #fff;
    --option-check-mark-background: #0a0a0a;
    --option-padding: 0 12px;
    --option-margin: 0;
    --option-size: 33px;
    --option-text-color: #979797;
    --option-border-color: #979797;

    // Placeholder
    --placeholder-image: linear-gradient(90deg,#ebebeb 0,#d9d9d9 15%,#ebebeb 30%);
    --placeholder-size: 1200px 100%;
    --placeholder-animation: placeholderAnimation 2s linear infinite;

    // Range Slider
    --range-slider-color: #000;
    --range-slider-active-color: var(--primary-base-color);

    // Category
    --category-details-background: var(--secondary-base-color);

    // Product
    --product-configurable-attributes-direction: flex-start;
    --product-configurable-attributes-margin: 0;
    --product-configurable-attributes-content-padding: 0;
    --product-information-background: var(--secondary-base-color);
    --product-information-padding: 1.875rem 0;
    --product-review-list-border: var(--secondary-dark-color);
    --product-reviews-padding: 1.875rem 0;
    --product-card-color-size: 10px;
    --product-card-picture-mask-color: #f5f5f5;
    --product-card-color-border-color: #efefef;
    --product-cart-picture-label-background: hsla(0,0%,100%,0.7);

    // Cart
    --cart-page-totals-background: var(--secondary-base-color);
    --cart-page-divider-background: #d8d8d8;
    --cart-page-promo-background: #fff;
    --cart-page-table-head-background: var(--secondary-base-color);
    --cart-overlay-totals-background: var(--secondary-base-color);
    --cart-overlay-divider-background: #d8d8d8;
    --cart-overlay-promo-background: #fff;
    --cart-item-heading-color: #000;
    --cart-item-subheading-color: #888;
    --cart-item-option-color: #adadad;
    --cart-item-background: #fff;
    --cart-item-actions-background: var(--secondary-base-color);
    --cart-item-action-border: #d8d8d8;
    --cart-item-actions-color: #000;
    --cart-item-divider-color: var(--expandable-content-divider-color);

    // Checkout
    --checkout-delivery-option-check-mark-color: var(--primary-base-color);
    --checkout-delivery-option-check-mark-hover-color: var(--secondary-dark-color);
    --checkout-delivery-option-border-color: var(--primary-divider-color);
    --checkout-address-table-border: var(--secondary-base-color);
    --checkout-address-table-hover-border: var(--secondary-base-color);
    --checkout-address-table-check-mark-hover-color: var(--secondary-dark-color);
    --checkout-address-selected-color: var(--primary-base-color);
    --checkout-address-table-check-mark-selected-color: var(--checkout-address-table-border);
}