.v-cart {
    .in-wrapper {
        display: grid;
        grid-template-columns: 1fr 30rem;
        grid-column-gap: 4rem;
    }

    .in-summary {
        display: flex;
        flex-direction: column;
    }
}

.in-shipping {
    .in-head {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        border-bottom: 1px solid var(--cart-page-divider-background);
        background-color: var(--cart-page-table-head-background);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        padding: .9rem 1rem;
    }
}