.in-wrapper {
    display: grid;
    max-width: var(--content-wrapper-width);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: minmax(200px,300px) auto;
    grid-column-gap: 4rem;

    aside {
        z-index: 1;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        min-height: 56px;
        transform: translateY(0);
        transition: transform .2s cubic-bezier(.47,0,.745,.715);
    }
}

.in-description {
    display: grid;
    grid-template-columns: auto minmax(100px,15rem);
    grid-gap: 1rem;
    background-color: var(--category-details-background);
    margin-bottom: 1rem;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        font-weight: 300;
        padding: 1.5rem;
        height: 7rem;
    }

    h1 {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: .5rem
    }

    .v-image {
        display: inline-block;
        overflow: hidden;
        height: 100%;
        width: 100%;
        mix-blend-mode: multiply;

        img {
            height: 7rem;
        }
    }

    .description {
        max-width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 2rem;
    }
}

.v-produts-list {
    .list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: max-content;
        grid-column-gap: 1rem;
        grid-column: 2;

        > li {
            margin-bottom: .75rem;
        }
    }
}