.v-product {
    .in-wrapper {
        grid-template-columns: 6fr 4fr;
        grid-template-rows: min-content min-content;
        padding-top: 2rem;
        grid-column-gap: 4rem;
        padding-bottom: 6rem;
    }
}

.v-container {
    .in-short {
        font-size: .9rem;
        margin: 1rem 0;
    }

    .in-action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .in-attribute {
        flex-basis: 50%;
    }

    .in-options {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        > span {
            display: inline-block;
            margin-left: calc(var(--product-card-color-size) / 3);
        }
    }

    .in-color {
        display: inline-block;
        width: calc(var(--option-size) / 1.2);
        height: calc(var(--option-size) / 1.2);
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid var(--product-card-color-border-color);
    }

    .b-numberinput {
        margin: 2rem 0;
        flex-basis: 100%;
    }
}

.v-information {
    padding: var(--product-information-padding);
    background-color: var(--product-information-background);
    border-top: 1px solid var(--expandable-content-divider-color);
}

.v-reviews {
    padding: var(--product-reviews-padding);

    .button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: max-content;
        margin: auto;
        z-index: 20;
    }
}